.header_list_elem_home{
    margin-right: 64px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: black;

}
.header_list_elem{
    margin-right: 64px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: rgba(25, 24, 37, 0.5);

}

.good_button{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: #222831;
}

.bad_button{
    display: flex;
    flex-direction: row;
    width: 115px;
    align-items: center;
    justify-content: center;
    height: 49px;
    background: #5D50C6;
    border-radius: 100px;
    color: white;
}





