.header_row {
    padding-top: 36px;
}

.header_list_elem_home {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 700;

}

.header_list_elem {

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: rgba(25, 24, 37, 0.5);


}

.header_list {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}



.good_button {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #222831;
    background: white;
    border-color: white;
    border-style: none;


}

.bad_button {
    display: flex;
    flex-direction: row;
    width: 115px;
    align-items: center;
    justify-content: center;
    height: 49px;
    background: #5D50C6;
    border-radius: 100px;
    color: white;
    border-color: #5D50C6;
    border-style: none;

}


.main__content_box1_text_and_button_name span{
    color:#F85E9F;

}



